In [1]:
import numpy as np
import pandas as pd
df=pd.read_csv(r'C:\Users\Lenovo\Desktop\ML course\Deep learning\Financial Distress.csv')

In [2]:
df.head()

,Company,Time,Financial Distress,x1,x2,x3,x4,x5,x6,x7,...,x74,x75,x76,x77,x78,x79,x80,x81,x82,x83
0,1,1,0.010636,1.2810,0.022934,0.87454,1.21640,0.060940,0.188270,0.52510,...,85.437,27.07,26.102,16.000,16.0,0.2,22,0.060390,30,49
1,1,2,-0.455970,1.2700,0.006454,0.82067,1.00490,-0.014080,0.181040,0.62288,...,107.090,31.31,30.194,17.000,16.0,0.4,22,0.010636,31,50
2,1,3,-0.325390,1.0529,-0.059379,0.92242,0.72926,0.020476,0.044865,0.43292,...,120.870,36.07,35.273,17.000,15.0,-0.2,22,-0.455970,32,51
3,1,4,-0.566570,1.1131,-0.015229,0.85888,0.80974,0.076037,0.091033,0.67546,...,54.806,39.80,38.377,17.167,16.0,5.6,22,-0.325390,33,52
4,2,1,1.357300,1.0623,0.107020,0.81460,0.83593,0.199960,0.047800,0.74200,...,85.437,27.07,26.102,16.000,16.0,0.2,29,1.251000,7,27

In [3]:
#The company which have greater value than -0.5 are healthy value else they are financial distress company classification
df['fd']=pd.np.where(df['Financial Distress'] > -0.50,0,1)

In [4]:
df.head()

,Company,Time,Financial Distress,x1,x2,x3,x4,x5,x6,x7,...,x75,x76,x77,x78,x79,x80,x81,x82,x83,fd
0,1,1,0.010636,1.2810,0.022934,0.87454,1.21640,0.060940,0.188270,0.52510,...,27.07,26.102,16.000,16.0,0.2,22,0.060390,30,49,0
1,1,2,-0.455970,1.2700,0.006454,0.82067,1.00490,-0.014080,0.181040,0.62288,...,31.31,30.194,17.000,16.0,0.4,22,0.010636,31,50,0
2,1,3,-0.325390,1.0529,-0.059379,0.92242,0.72926,0.020476,0.044865,0.43292,...,36.07,35.273,17.000,15.0,-0.2,22,-0.455970,32,51,0
3,1,4,-0.566570,1.1131,-0.015229,0.85888,0.80974,0.076037,0.091033,0.67546,...,39.80,38.377,17.167,16.0,5.6,22,-0.325390,33,52,1
4,2,1,1.357300,1.0623,0.107020,0.81460,0.83593,0.199960,0.047800,0.74200,...,27.07,26.102,16.000,16.0,0.2,29,1.251000,7,27,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3672 entries, 0 to 3671
Data columns (total 87 columns):
Company               3672 non-null int64
Time                  3672 non-null int64
Financial Distress    3672 non-null float64
x1                    3672 non-null float64
x2                    3672 non-null float64
x3                    3672 non-null float64
x4                    3672 non-null float64
x5                    3672 non-null float64
x6                    3672 non-null float64
x7                    3672 non-null float64
x8                    3672 non-null float64
x9                    3672 non-null float64
x10                   3672 non-null float64
x11                   3672 non-null float64
x12                   3672 non-null float64
x13                   3672 non-null float64
x14                   3672 non-null float64
x15                   3672 non-null float64
x16                   3672 non-null float64
x17                   3672 non-null float64
x18                   3672 non-null float64
x19                   3672 non-null float64
x20                   3672 non-null float64
x21                   3672 non-null float64
x22                   3672 non-null float64
x23                   3672 non-null float64
x24                   3672 non-null float64
x25                   3672 non-null float64
x26                   3672 non-null float64
x27                   3672 non-null float64
x28                   3672 non-null float64
x29                   3672 non-null float64
x30                   3672 non-null float64
x31                   3672 non-null float64
x32                   3672 non-null float64
x33                   3672 non-null float64
x34                   3672 non-null float64
x35                   3672 non-null float64
x36                   3672 non-null float64
x37                   3672 non-null float64
x38                   3672 non-null float64
x39                   3672 non-null float64
x40                   3672 non-null float64
x41                   3672 non-null float64
x42                   3672 non-null float64
x43                   3672 non-null float64
x44                   3672 non-null float64
x45                   3672 non-null float64
x46                   3672 non-null float64
x47                   3672 non-null float64
x48                   3672 non-null float64
x49                   3672 non-null float64
x50                   3672 non-null float64
x51                   3672 non-null float64
x52                   3672 non-null float64
x53                   3672 non-null float64
x54                   3672 non-null float64
x55                   3672 non-null float64
x56                   3672 non-null float64
x57                   3672 non-null float64
x58                   3672 non-null float64
x59                   3672 non-null float64
x60                   3672 non-null float64
x61                   3672 non-null float64
x62                   3672 non-null float64
x63                   3672 non-null float64
x64                   3672 non-null float64
x65                   3672 non-null float64
x66                   3672 non-null float64
x67                   3672 non-null float64
x68                   3672 non-null float64
x69                   3672 non-null float64
x70                   3672 non-null float64
x71                   3672 non-null float64
x72                   3672 non-null float64
x73                   3672 non-null float64
x74                   3672 non-null float64
x75                   3672 non-null float64
x76                   3672 non-null float64
x77                   3672 non-null float64
x78                   3672 non-null float64
x79                   3672 non-null float64
x80                   3672 non-null int64
x81                   3672 non-null float64
x82                   3672 non-null int64
x83                   3672 non-null int64
fd                    3672 non-null int32
dtypes: float64(81), int32(1), int64(5)
memory usage: 2.4 MB

In [7]:
df.shape

(3672, 87)

In [8]:
df.describe()

,Company,Time,Financial Distress,x1,x2,x3,x4,x5,x6,x7,...,x75,x76,x77,x78,x79,x80,x81,x82,x83,fd
count,3672.000000,3672.000000,3672.000000,3672.000000,3672.000000,3672.000000,3.672000e+03,3672.000000,3672.000000,3672.000000,...,3672.000000,3672.000000,3672.000000,3672.000000,3672.000000,3672.000000,3672.000000,3672.000000,3672.000000,3672.000000
mean,182.084423,7.528322,1.040257,1.387820,0.129706,0.615769,8.681599e-01,0.154949,0.106717,0.784031,...,91.920506,89.115908,17.780855,15.198708,-2.664305,19.714597,1.100488,13.122277,33.044935,0.037037
std,117.024636,4.064016,2.652227,1.452926,0.120013,0.177904,5.719519e-01,0.124904,0.210555,1.033606,...,64.656504,64.349382,2.040152,2.828648,8.192663,7.508588,2.666733,9.465907,13.714563,0.188878
min,1.000000,1.000000,-8.631700,0.075170,-0.258080,0.016135,5.350000e-07,-0.269790,-0.627750,0.035160,...,24.318000,23.776000,15.250000,12.000000,-20.200000,1.000000,-0.499220,1.000000,2.000000,0.000000
25%,80.000000,4.000000,0.172275,0.952145,0.048701,0.501888,5.525575e-01,0.070001,-0.027754,0.436003,...,39.800000,38.377000,16.000000,13.000000,-7.000000,14.000000,0.189912,6.000000,21.000000,0.000000
50%,168.000000,7.000000,0.583805,1.183600,0.107530,0.638690,7.752450e-01,0.131830,0.104325,0.641875,...,66.120000,59.471000,17.000000,14.500000,0.200000,20.000000,0.594765,11.000000,34.000000,0.000000
75%,264.250000,11.000000,1.351750,1.506475,0.188685,0.749425,1.039000e+00,0.219570,0.231230,0.896773,...,130.500000,132.400000,20.000000,16.000000,2.100000,26.000000,1.355050,17.000000,44.000000,0.000000
max,422.000000,14.000000,128.400000,51.954000,0.749410,0.967900,6.835600e+00,0.858540,0.929550,38.836000,...,227.500000,214.500000,22.000000,22.000000,8.600000,37.000000,128.400000,49.000000,74.000000,1.000000

In [9]:
#changing data types
columns=['Company','Time','x80','fd']
for i in columns:
    df[i]=df[i].astype(str)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3672 entries, 0 to 3671
Data columns (total 87 columns):
Company               3672 non-null object
Time                  3672 non-null object
Financial Distress    3672 non-null float64
x1                    3672 non-null float64
x2                    3672 non-null float64
x3                    3672 non-null float64
x4                    3672 non-null float64
x5                    3672 non-null float64
x6                    3672 non-null float64
x7                    3672 non-null float64
x8                    3672 non-null float64
x9                    3672 non-null float64
x10                   3672 non-null float64
x11                   3672 non-null float64
x12                   3672 non-null float64
x13                   3672 non-null float64
x14                   3672 non-null float64
x15                   3672 non-null float64
x16                   3672 non-null float64
x17                   3672 non-null float64
x18                   3672 non-null float64
x19                   3672 non-null float64
x20                   3672 non-null float64
x21                   3672 non-null float64
x22                   3672 non-null float64
x23                   3672 non-null float64
x24                   3672 non-null float64
x25                   3672 non-null float64
x26                   3672 non-null float64
x27                   3672 non-null float64
x28                   3672 non-null float64
x29                   3672 non-null float64
x30                   3672 non-null float64
x31                   3672 non-null float64
x32                   3672 non-null float64
x33                   3672 non-null float64
x34                   3672 non-null float64
x35                   3672 non-null float64
x36                   3672 non-null float64
x37                   3672 non-null float64
x38                   3672 non-null float64
x39                   3672 non-null float64
x40                   3672 non-null float64
x41                   3672 non-null float64
x42                   3672 non-null float64
x43                   3672 non-null float64
x44                   3672 non-null float64
x45                   3672 non-null float64
x46                   3672 non-null float64
x47                   3672 non-null float64
x48                   3672 non-null float64
x49                   3672 non-null float64
x50                   3672 non-null float64
x51                   3672 non-null float64
x52                   3672 non-null float64
x53                   3672 non-null float64
x54                   3672 non-null float64
x55                   3672 non-null float64
x56                   3672 non-null float64
x57                   3672 non-null float64
x58                   3672 non-null float64
x59                   3672 non-null float64
x60                   3672 non-null float64
x61                   3672 non-null float64
x62                   3672 non-null float64
x63                   3672 non-null float64
x64                   3672 non-null float64
x65                   3672 non-null float64
x66                   3672 non-null float64
x67                   3672 non-null float64
x68                   3672 non-null float64
x69                   3672 non-null float64
x70                   3672 non-null float64
x71                   3672 non-null float64
x72                   3672 non-null float64
x73                   3672 non-null float64
x74                   3672 non-null float64
x75                   3672 non-null float64
x76                   3672 non-null float64
x77                   3672 non-null float64
x78                   3672 non-null float64
x79                   3672 non-null float64
x80                   3672 non-null object
x81                   3672 non-null float64
x82                   3672 non-null int64
x83                   3672 non-null int64
fd                    3672 non-null object
dtypes: float64(81), int64(2), object(4)
memory usage: 2.4+ MB

In [11]:
df=df.drop('Financial Distress', axis=1)

In [13]:
#taking percentage of null values
df.isnull().sum()/df.shape[0]*100

Company    0.0
Time       0.0
x1         0.0
x2         0.0
x3         0.0
x4         0.0
x5         0.0
x6         0.0
x7         0.0
x8         0.0
x9         0.0
x10        0.0
x11        0.0
x12        0.0
x13        0.0
x14        0.0
x15        0.0
x16        0.0
x17        0.0
x18        0.0
x19        0.0
x20        0.0
x21        0.0
x22        0.0
x23        0.0
x24        0.0
x25        0.0
x26        0.0
x27        0.0
x28        0.0
          ...
x55        0.0
x56        0.0
x57        0.0
x58        0.0
x59        0.0
x60        0.0
x61        0.0
x62        0.0
x63        0.0
x64        0.0
x65        0.0
x66        0.0
x67        0.0
x68        0.0
x69        0.0
x70        0.0
x71        0.0
x72        0.0
x73        0.0
x74        0.0
x75        0.0
x76        0.0
x77        0.0
x78        0.0
x79        0.0
x80        0.0
x81        0.0
x82        0.0
x83        0.0
fd         0.0
Length: 86, dtype: float64

In [15]:
X=df.drop('fd',axis=1)

In [16]:
Y=df['fd']

In [17]:
Y.value_counts()

0    3536
1     136
Name: fd, dtype: int64

In [18]:
X=pd.get_dummies(X)

In [19]:
X.head()

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,...,x80_34,x80_35,x80_36,x80_37,x80_4,x80_5,x80_6,x80_7,x80_8,x80_9
0,1.2810,0.022934,0.87454,1.21640,0.060940,0.188270,0.52510,0.018854,0.182790,0.006449,...,0,0,0,0,0,0,0,0,0,0
1,1.2700,0.006454,0.82067,1.00490,-0.014080,0.181040,0.62288,0.006423,0.035991,0.001795,...,0,0,0,0,0,0,0,0,0,0
2,1.0529,-0.059379,0.92242,0.72926,0.020476,0.044865,0.43292,-0.081423,-0.765400,-0.054324,...,0,0,0,0,0,0,0,0,0,0
3,1.1131,-0.015229,0.85888,0.80974,0.076037,0.091033,0.67546,-0.018807,-0.107910,-0.065316,...,0,0,0,0,0,0,0,0,0,0
4,1.0623,0.107020,0.81460,0.83593,0.199960,0.047800,0.74200,0.128030,0.577250,0.094075,...,0,0,0,0,0,0,0,0,0,0

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.3)

In [23]:
from sklearn.decomposition import PCA

In [24]:
#most important features
pca=PCA(whiten=True)
pca.fit(X_train)
variance=pd.DataFrame(pca.explained_variance_ratio_)
np.cumsum(pca.explained_variance_ratio_)

array([0.8617441 , 0.95048722, 0.9991711 , 0.99957284, 0.99992441,
       0.99998881, 0.99999224, 0.99999443, 0.99999618, 0.99999728,
       0.99999824, 0.9999991 , 0.99999951, 0.99999978, 0.99999999,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ])

In [25]:
pca=PCA(n_components=15,whiten=True)
pca_X_train=pca.fit_transform(X_train)
pca_X_test = pca.transform(X_test)

In [26]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(pca_X_train)
X_test=sc.fit_transform(pca_X_test)

In [27]:
from sklearn.neural_network import MLPClassifier

In [29]:
mlp=MLPClassifier(solver='lbfgs' , alpha =1e-05,hidden_layer_sizes=(5,2),random_state=1)

In [30]:
mlp.fit(X_train,Y_train)

MLPClassifier(activation='relu', alpha=1e-05, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(5, 2), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
       random_state=1, shuffle=True, solver='lbfgs', tol=0.0001,
       validation_fraction=0.1, verbose=False, warm_start=False)

In [31]:
y_pred = mlp.predict(X_test)

In [34]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(Y_test,y_pred)

In [35]:
cm

array([[1055,   14],
       [  23,   10]], dtype=int64)

In [36]:
Y_test.value_counts()

0    1069
1      33
Name: fd, dtype: int64